<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPR</title>

    <link rel="stylesheet" href="[% base %]/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="[% base %]/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="[% base %]/css/style.css" />
    <script type="text/javascript" src="[% base %]/js/jquery-2.1.1.min.js"></script>
</head>
<body>
    [% content %]
</body>
</html>
