body {
    font-family: "Palatino Linotype","Book Antiqua",Palatino,FreeSerif,Georgia,serif;
}
.words {
    font-size: 1.2em;
    line-height: 1.6em;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,FreeSerif,Georgia,serif;
    color: #555;
}
.list-group-stories {
    font-family: Arial;
}

.speaker {
    font-family: Menlo,Monaco,monospace;
}

.list-group-item {
    padding: 5px 10px;
}

.end {
    margin: 20px 0 50px;
    font-size: 2em;
    color: #DDD;
    text-align: center;
}
